.idea/
.vscode/
.run/
.DS_Store
.python-version
.gradle/
src/main/resources/docs/sphinx/
CurrentIDSParams.json
csl-dev

build/
downloads/

cacerts.jks

# Deprecated?
mqtt_agent_concentrator*
idslogs/
cslconf/taps/



# IntelliJ project manager ( deprecated? )
w_csl.iml
w-csl.iml
W_CSL.iml


