<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Suppress Logback's internal initialization logs -->
    <logger name="ch.qos.logback" level="ERROR"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %gray(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%logger): %msg%n%throwable
            </pattern>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="${LOG_LEVEL:-DEBUG}">
        <appender-ref ref="Console" />
    </root>
</configuration>
